
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <link href="~/Content/bootstrap-theme.min.css" rel="stylesheet" />
    <link href="~/Content/global.css" rel="stylesheet" />
</head>
<body>
    <div>
        Hello
        
       <p>World</p> 

        <p class="negrito">Fatec</p>
        <p class="negrito amarelo">Rio Preto</p>

        <button class="btn btn-sm btn-danger"><span class="glyphicon glyphicon-ok"></span>Testar</button>
    </div>
</body>
</html>
